.banner {
    position: relative;
}

.banner-slides {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    margin-top: 20px;
}

.banner-slides img {
    display: none;
    max-width: 100%;
    width: 500px; /* Set your desired width */
    height: 300px; /* Set your desired height */
}


.banner-controls {
    text-align: center;
    margin-top: 10px;
}

#prevSlide,
#nextSlide {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}
