/* Font */
.font {
    font-family: "Protest Riot", sans-serif;
}

p{
    font-family: "Protest Riot", sans-serif;
    color: #ffffff;
}

.item-name {
    font-family: "Protest Riot", sans-serif;
    color: #ffffff;
}

/* Banner Styling */
.banner {
    position:relative;
    background-color: #db888c;
}

.center-image {
    display: block;
    margin: 0 auto;
}

/*Categories Styling */
.food-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #ac46a3;
}

.category-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    min-width: 540px;
    max-width:750px;
}

.category-cell {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
}


.item-image img {
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}

/* Featured Tails Styling */
.featured-tails {
    padding-top: 20px;
    text-align: center;
    background-color: #db888c;
}

.featured-title {
    margin-bottom: 20px;
    font-family: "Protest Riot", sans-serif;
}

.featured-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.table-row {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap; 
}

.table-item {
    flex: 0 0 30%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px;
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-title {
    font-weight: bold;
}

.item-image {
    max-width: 100%;
}

/* Mobile Styling */
@media (max-width: 768px) {
    .category-table {
        flex-direction: column;
        align-items: center;
    }

    .category-cell {
        flex: 1;
    }
}

/* Cart Styling */
.cart-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    background-color: #db888c;


}

.cart-summary {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    background-color: #db888c;
}

.item-image {
    border-radius: 4px;
}

.item-quantity {
    text-align: center;
}

.my-4{
    background-color: #db888c;
    font-family: "Protest Riot", sans-serif;
}

/* Details Page Styling */
.product-description,
main p {
    color: #333; /* Change the color to a darker shade for better visibility */
}

h2 {
    color: #000; /* Make the product name black */
}

.btn-primary {
    background-color: #007bff; /* Adjust the button color if needed */
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; /* Adjust the button hover color if needed */
    border-color: #0056b3;
}


/* Product Page Styling */
.food-categories-product{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #ac46a3;
}

.food-category-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Protest Riot", sans-serif;
    font-size: 40px;
    padding-top: 20px;
    background-color: #db888c;
}