.banner {
    position: relative;
    text-align: center;
}

.banner img {
    max-width: 60%;
    display: block;
    margin: 0 auto;
}

body {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.cart-popup {
    display: none;
    position: absolute;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    width: 300px;
    text-align: center;
}
.mr-3{
    max-width: 100px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

